.App {
	font-family: sans-serif;
 }
 .wrapper {
	display: grid;
	max-width: 1200px;
	margin: 0 auto;
	grid-template-areas:
	  "h h"
	  "n c";
 
 
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
 }
 .header {
	grid-area: h;
	background-color: green;
 }
 .header img {
	width: 50px;
 }
 .nav {
	grid-area: n;
	background-color: lightgoldenrodyellow;
 }
 .nav li{
	list-style-type: none;
 }
 .nav a{
	text-decoration: none; 
	color: black
 }
 .content {
	grid-area: c;
	background-color:paleturquoise;
 }
 .content-pict{
	width: 100%;
 }
 